@font-face {
    font-family: "American Typewriter";
    font-style: normal;
    font-weight: normal;
    src: local("American Typewriter"), url("./American_Typewriter_Regular.ttf") format("truetype"),
  }