html {
  position: relative;
  height: 100%;
  background-color: #ede6d8;
}
body {
  margin: 0;
  font-family: "American Typewriter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "American Typewriter";
  font-style: normal;
  font-weight: normal;
  src: local("American Typewriter"), url("style/font/American_Typewriter_Regular.ttf") format("truetype"),
}